<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
          <a href="#"><img src="Blank_1_Panel_Landscape_Comic_Strip-transformed2.png" alt="Logo"></a>
        </div>
        <div class="search-container">
          <input type="text" placeholder="Search...">
          <button type="submit">Search</button>
        </div>
        <nav>
    
             <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="item.html">Description</a></li>
            <li><a href="items.html">Products</a></li>
            <li><a href="new.html">Listings</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <div class="item-detail">
            <img src="images/car7.png" alt="Item 1">
            <div class="details">
                <h2>2023 Personal Collecton 1</h2>
                <p>Condition: New</p>
                <p>Price: $10</p>
                <p>Offers Received: 10</p>
                <p>Seller: John Doe</p>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
   
    </main>
    <footer>
        <div class="copyright">&copy; Edgy Media</div>
        
            <a href="https://www.facebook.com">Facebook</a>
            <a href="https://www.twitter.com">Twitter</a>
            <a href="https://www.instagram.com">Instagram</a>
      
    </footer>
</body>
</html>
