body{
    background-color: rgb(173, 238, 158);
    text-align: center;

        
        
    
}


h1 {
    font-size: 40px;
    font-weight: bold;
   margin-left: 1in;  
   margin-right: 1in; 
}


ul {
    list-style: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    margin-left: 1in;  
   margin-right: 1in; 
}
li::before {
    content: "•";
    font-weight: bold;
    margin-right: 5px;
}
.image-caption {
    font-style: italic;
}





