body {
    background-color: rgb(173, 238, 158);
    text-align: left;
}

header {
    background-color: #ddebdd;
    color: black;
    padding: 10px;
    text-align: center;
}

nav {
    margin: 10px 0;
}

h1 {
    font-size: 32px;
    margin: 10px 0;
}

nav a {
    color: black;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

main {
    text-align: center;
}

h1 {
    font-size: 32px;
    margin: 10px 0;
}

/* Apply styles for small devices (min-width: 576px and up) */
@media (min-width: 576px) {
    .main-content {
        margin: 20px auto;
        max-width: 800px;
        padding: 20px;
        background-color: rgb(173, 238, 158);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .image-caption {
        font-style: italic;
        margin-top: 10px;
    }
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

ul ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul ul li {
    margin-bottom: 5px;
}



.validator-logos {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: inline-block;
    margin: 10px;
}
footer {
    text-align: center;

}
.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin: 2em auto; /* Add margin to center the calculator and create space around it */
    max-width: 15em;
    overflow: hidden;
}

.calculator_display {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator_keys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5em; /* Add padding to create space inside the keys container */
}

.calculator_keys > * {
    background-color: #fff;
    padding: 0.5em 0.75em;
    position: relative;
    text-align: center;
}


.key--operator {
    background-color: #eee;
}

.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}
#sketchContainer {
    width: 100vw;
    height: 100vh;
}
.LinkContainer{
    text-align: justify;
   
}
.left-align {
    text-align: left;
}

.slides {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
}

.prev, .next {
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.caption {
    text-align: center;
    margin-top: 10px;
}

.thumbnail-container {
    margin-top: 20px;
    text-align: center;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
}