input[type="submit"],
input[type="reset"] {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Apply styles to input elements */
input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Additional styles for checkboxes and radio buttons (customize as needed) */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

body {
    background-color: rgb(173, 238, 158);
    text-align: left;
    
}

header {
    background-color: #ddebdd; /* Green background color */
    color: black; /* Text color on the header */
    padding: 10px;
    text-align: center;
}