table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}




table tr:nth-child(odd) {
    background-color: #999;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #0f0f0f;
    color: #fff;
}

body {
    background-color: rgb(173, 238, 158);
    text-align: left;
    
}

header {
    background-color: #ddebdd; /* Green background color */
    color: black; /* Text color on the header */
    padding: 10px;
    text-align: center;
}
