html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    background-color: rgb(34, 34, 34);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    display: block;
    position: relative;
    
    /* 2 */ }
*{
    box-sizing: border-box;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    text-align: center; }


header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

main {
    width: 80%;
    margin: 0 auto;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

footer {
    text-align: center;
}

#searchbar {
    width: 10%;
    padding: 10px;
    border: 1px solid black;
  }
  
  #searchbutton {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }