.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-header {
    float: left;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 20px;
  }
  
  .nav navbar-nav {
    float: right;
  }
  
  .nav navbar-nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav navbar-nav li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .nav navbar-nav li a:hover {
    color: #ccc;
  }
  
  