<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Detail</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
<%- include('../partials/header.ejs') %>

  <main>
      <div class="item-detail">
          <img src="/images/car7.png" alt="Item 1"> <!-- Adjusted path for the image -->
          <div class="details">
              <h2>2023 Personal Collecton 1</h2>
              <p>Condition: New</p>
              <p>Price: $10</p>
              <p>Offers Received: 10</p>
              <p>Seller: John Doe</p>
              <button>Edit</button>
              <button>Delete</button>
          </div>
      </div>
  </main>

  <%- include('../partials/footer.ejs') %>
</body>
