<header class="navbar">
    <div class="logo">
      <a href="#"><img src="Blank_1_Panel_Landscape_Comic_Strip-transformed2.png" alt="Logo"></a>
    </div>
    <div class="search-container">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </div>
    <nav>
         <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/item">Description</a></li>
        <li><a href="/items">Products</a></li>
        <li><a href="/new">Listings</a></li>
      </ul>
    </nav>
  </header>
