
html {
    background-color: rgb(167, 21, 21);
    color: white;
    font-family: Candara;
    font-size: x-large;
  }


  .navbar {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(51, 46, 46);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Candara;
  }
  .navbar a{
    color:white;
  }
  .navbar .logo img {
    height: 40px;
  }
  .navbar ul li a:hover {
    color: rgb(167, 22, 22);
    transition: all 200ms ease-in;
  }
  
  .navbar .search-container {
    width: 300px; /* Set the width of the search container */
  }
  
  .navbar input[type="text"] {
    width: 70%; /* Set the width of the input field */
    padding: 8px;
    border: none;
    font-family: Candara;
  }
  
  .navbar button[type="submit"] {
   
    font-family: Candara;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  




  .container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .content {
    grid-column: 1 / 2;
  }
  
  .image-box {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  
  .image-row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .image-column {
    display: flex;
    flex-direction: column;
  }
  
  img {
    max-width: 600px;
    height: auto;
  }





  

 footer {
    background-color: #050303;
    box-shadow: 0px 0px 10px rgb(51, 46, 46);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
    
}
footer a {
  color: #fff;
}
 
footer a:hover {
  color: rgb(167, 22, 22);
  transition: all 200ms ease-in;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
}

.item-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.new-item-form {
    max-width: 500px;
    margin: 0 auto;
}

.new-item-form input,
.new-item-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.new-item-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
