<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/bgorman3">CLT Web</a> ||
        <a href="https://github.com/bgorman3">Github</a> ||
        <a href="https://github.com/bgorman3/bgorman3.github.io/tree/main">Github.io</a> ||
        <a href="http://bgorman3.github.io">itis3135.io</a> ||
        <a href="https://www.freecodecamp.org/bgorman3">FreeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/bgorman3">Codecademy</a> ||
        <a href="http://linkedin.com/in/brendan-gorman-0a0021279">Linkedin</a>
    </nav>
    <nav>
        <p>Page Built by <a href="gormotechventures.net">Gormo Tech Ventures</a>, Certified in <a href="https://www.freecodecamp.org/certification/bgorman3/javascript-algorithms-and-data-structures"> JS</a> & <a href="https://www.freecodecamp.org/certification/bgorman3/responsive-web-design">HTML</a> &copy; 2023</p>
      
        
        <div class="image-container">
            <a href="https://validator.w3.org/check?uri=referer">
                <img style="border:0;width:88px;height:31px"
                src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
            </a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
            </a>
        </div>
    </nav>
</footer>