.container2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.content {
  grid-column: 1 / 2;
}

.image-box {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.image-row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.image-column {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}
